<!-- livros.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Tabela de Livros</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Editora</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.editora }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">Nenhum livro encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}
